 ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
 }

 a{
    display: inline-block;
    text-decoration: none;
 }

 .box{
   display: flex;
 }

 .container{
    width: 1170px;
    margin: 0 auto;
 }

 /* .common-button{
   width: 191px;
   height: 70px;
   background: #E5745D;
   display: flex;
   justify-content: center;
   align-items: center;
 } */

 .common-button a{
    font-family: "Jost", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    position: relative;
    background: #E5745D;
    padding: 20px 40px;
 }

 .common-button a::after{
    width: 96%;
    height: 61px;
    content: "";
    border: 1px solid #fff;
    position: absolute;
    top: 3px;
    left: 3px;
 }

 .common-title h4{
    font-family: "Vollkorn", serif;
    font-size: 18px;
    font-weight: 500;
    color: #E5745D;
    text-align: center;
    position: relative;
 }

 .common-title h4::after {
   width: 40px;
   height: 1px;
   background: #E5745D;
   content: "";
   position: absolute;
   top: 9px;
   left: 456px;
}

.common-title h4::before {
   width: 7px;
   height: 7px;
   border-radius: 50%;
   background: #E5745D;
   content: "";
   position: absolute;
   top: 6px;
   left: 496px;
}

 .common-title h2{
   font-family: "Vollkorn", serif;
   font-size: 50px;
   font-weight: 500;
   color: #00413D;
   width: 517px;
   margin: 0 auto;
   text-align: center;
   padding: 11px 0 40px;
}

 /* =================================
        Navbar Part Start
 ================================= */
 .navbar{
    padding: 18px 0;
 }

 .navbar .navbar-nav{
    column-gap: 50px;
 }
 
 .nav-button a{
    background: #E5745D;
    padding: 25px 44px;
    font-family: "Jost", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    position: relative;
 }

 .nav-button a::after{
    width: 185px;
    height: 65px;
    content: "";
    border: 1px solid #fff;
    position: absolute;
    top: 6px;
    left: 6px;
 }

 .navbar .nav-link{
    font-family: "Jost", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #00413D;
    padding-left: 0 !important;
    padding-right: 0 !important;
 }

 .navbar .nav-link:hover{
    color: #E5745D;
 }
 /* =================================
        Banner Part Start
 ================================= */
 .banner{
    width: 100%;
    background: #00413D;
    padding: 220px 0;
    position: relative;
    overflow: hidden;
    z-index: 2;
 }

 .banner .banner-img{
   width: 60%;
   height: 100%;
   background: url(../images/banner.png) no-repeat left;
   position: absolute;
   top: 0;
   left: 0;
   z-index: -3;
 }

 .banner .banner-img .overlay{
   width: 100%;
   height: 100%;
   background: rgba(0, 65, 61, .8);
 }

 .banner .overlay2{
   width: 40%;
   height: 100%;
   background: url(../images/banner2.jpg) no-repeat top;
   background-size: cover;
   position: absolute;
   top: 0;
   right: -40%;
   transition: .7s;
   z-index: -1;
 }

 .banner:hover .overlay2{
   right: 0;
 }

 .banner h1{
    font-family: "Vollkorn", serif;
    font-size: 100px;
    font-weight: 700;
    color: #fff;
    line-height: 110px;
 }

 .banner h1 span{
    display: block;
 }

 .banner p{
    font-family: "Jost", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    width: 670px;
    padding: 14px 0 50px;
 }

 .banner p span{
    color: #fff;
    font-weight: 500;
 }
 /* =================================
        Banner Part End
 ================================= */

/* =================================
        Service Part Start
 ================================= */
 .service{
   padding: 220px 0 120px;
   position: relative;
 }

 .service .dotimg{
   position: absolute;
   top: 350px;
   left: 50px;
 }

 .service .card{
   width: 100% !important;
   border: 0;
   -webkit-box-shadow: 5px 5px 18px -2px rgba(224,221,224,1);
   -moz-box-shadow: 5px 5px 18px -2px rgba(224,221,224,1);
   box-shadow: 5px 5px 18px -2px rgba(224,221,224,1);
   padding: 50px 0 50px 35px;
 }

 .service .card img{
   width: 20%;
 }

 .service .card .card-body{
   padding: 0;
 }

 .service .card-body .card-title{
    font-family: "Vollkorn", serif;
    font-size: 24px;
    font-weight: 800;
    color: #00413D;
    padding: 26px 0 15px;
 }

 .service .card-body .card-text{
    font-family: "Jost", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #00413D;
    width: 245px;
 }

 .service .card-body i{
   font-size: 28px;
   color: #00413D;
 }
 /* =================================
        Service Part End
 ================================= */

 /* =================================
        About Part Start
 ================================= */
 .about{
   position: relative;
 }
 
 .about .box{
   column-gap: 30px;
 }

 .about .img{
   position: absolute;
   top: -50px;
   right: 50px;
 }

 .about .twoimage{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }

 .about .common-title h2{
   text-align: left;
   width: auto;
   padding: 11px 0 5px;
 }

 .about .common-title{
   padding-top: 29px;
 }

 .about .common-title h4{
   text-align: left;
   margin-left: 60px;
 }

 .about .common-title h4::after {
   left: -57px;
 }

 .about .common-title h4::before {
   left: -17px;
 }

 .about .text{
   padding-bottom: 30px;
 }

 .about p{
    font-family: "Jost", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #00413D;
 }

 .about .common-button a::after{
   left: 4px;
 }
 /* =================================
        About Part End
 ================================= */
 /* =================================
        Progress Part Start
 ================================= */
 .progressber{
   padding: 80px 0 120px;
 }

.progressber .main-box{
   width: 100%;
   height: 282px;
   -webkit-box-shadow: 0px 0px 15px 1px rgba(232,229,232,1);
   -moz-box-shadow: 0px 0px 15px 1px rgba(232,229,232,1);
   box-shadow: 0px 0px 15px 1px rgba(232,229,232,1);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   row-gap: 24px;
 }

 .progressber .main-box .circle{
   width: 167px;
   height: 167px;
   border: 10px solid #E5745D;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .progressber .main-box h3{
    font-family: "Vollkorn", serif;
    font-size: 26px;
    font-weight: 600;
    color: #00413D;
 }

 .progressber .main-box h4{
   font-family: "Vollkorn", serif;
   font-size: 34px;
   font-weight: 600;
   color: #E5745D;
}
 /* =================================
        Progress Part End
 ================================= */

 /* =================================
        Project Part Start
 ================================= */
 .project{
   position: relative;
 }

 .project .plus{
   position: absolute;
   top: 230px;
   right: 5px;
 }

 .project .minuses{
   position: absolute;
   bottom: 60px;
   left: 5px;
 }
 
 .project .common-title h2{
   text-align: left;
   width: auto;
   padding: 11px 0 5px;
 }

 .project .common-title{
   padding-top: 29px;
 }

 .project .common-title h4{
   text-align: left;
   margin-left: 60px;
 }

 .project .common-title h4::after {
   left: -57px;
 }

 .project .common-title h4::before {
   left: -17px;
 }

 .project .box{
   justify-content: space-between;
 }

 .project .icon ul{
   display: flex;
   column-gap: 20px;
 }

 .project .icon ul li{
   width: 44px;
   height: 44px;
   background: #FFF;
   border: 1px solid rgba(0, 65, 61, .1);
   color: #00413D;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 65px;
   transition: .5s;
 }

 .project .icon ul li:hover{
   background: #E5745D;
   color: #fff;
   border: transparent;
 }

 .project .card{
   margin: 40px 0 60px;
   border: 0px;
   width: 100% !important;
   -webkit-box-shadow: 5px 5px 18px -2px rgba(224,221,224,1);
   -moz-box-shadow: 5px 5px 18px -2px rgba(224,221,224,1);
   box-shadow: 5px 5px 18px -2px rgba(224,221,224,1);
 }

 .project .card .card-body{
  padding: 25px 30px 30px;
 }

 .project .card-title{
   font-family: "Vollkorn", serif;
   font-size: 16px;
   font-weight: 600;
   color: #E5745D;
 }

 .project .card-text{
   font-family: "Vollkorn", serif;
   font-size: 24px;
   font-weight: 500;
   color: #00413D;
   width: 304px;
   margin-bottom: 5px !important;
   line-height: 30px;
 }

 .project .card-text2{
   font-family: "Jost", sans-serif;
   font-size: 16px;
   font-weight: 400;
   color: #4D7A77;
   width: 289px;
   padding: 8px 0;
 }

 .project .card-box{
   display: flex;
   column-gap: 10px;
   align-items: center;
 }

 .project .card-box a{
   font-family: "Jost", sans-serif;
   font-size: 18px;
   font-weight: 500;
   color: #00413D;
   transition: .5s;
 }

 .project .card-box i{
   color: #00413D;
   transition: .5s;
 }

 .project .card:hover .card-box i{
   color: #E5745D;
 }

 .project .card:hover .card-box a{
   color: #E5745D;
 }

 .project .button{
   display: flex;
   justify-content: center;
 }

 .project .common-button a::after{
   left: 4px;
 }
 /* =================================
        Project Part End
 ================================= */
 /* =================================
        Protfolio Part Start
 ================================= */
 .protfolio{
   margin-top: 235px;
   padding-bottom: 16px;
   position: relative;
 }

 .protfolio .leftimg {
  position: absolute;
  top: 400px;
  left: 5px;
 }

 .protfolio .rightimg {
  position: absolute;
  bottom: 70px;
  right: 5px;
 }

 .protfolio h2{
   padding-bottom: 24px;
 }

 .protfolio ul{
   display: flex;
   column-gap: 30px;
   justify-content: center;
   font-family: "Vollkorn", serif;
   font-size: 16px;
   font-weight: 400;
   color: #00413D;
   padding-bottom: 40px;
 }

 .protfolio ul li{
   position: relative;
 }

 .protfolio ul li::after{
   width: 0;
   height: 2px;
   background: #E5745D;
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   transition: .7s;
 }

 .protfolio ul li:hover::after{
   width: 100%;
 }

 .protfolio .card{
   width: 100% !important;
   padding-top: 420px;
   background: #C4C4C4;
   border: 0;
   border-radius: 0;
   position: relative;
   transition: .7s;
 }

 .protfolio .card:hover{
   background: #4E7573;
 }

 .protfolio .card .badge{
   width: 70px;
   height: 70px;
   background: #fff;
   color: #E5745D;
   border-radius: 50%;
   font-size: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 30px;
   right: 30px;
   opacity: 0;
   transition: .7s;
 }

 .protfolio .card:hover .badge{
   opacity: 1;
 }

 .protfolio .card .card-body{
   background: #00413D;
   padding: 22px 18px !important;
 }

 .protfolio .card .card-body .card-title{
   font-family: "Vollkorn", serif;
   font-size: 24px;
   font-weight: 600;
   color: #FFF;
   margin-bottom: 0 !important;
 }

 .protfolio .card .card-body .card-text{
   font-family: "Jost", sans-serif;
   font-size: 16px;
   font-weight: 400;
   color: #FFF;
 }
 /* =================================
        Protfolio Part End
 ================================= */
 /* =================================
        Testimonial Part Start
 ================================= */
 .testimonial{
  padding: 121px 0 73px;
  background: #F9F4F1;
 }

 .testimonial h4{
  padding-left: 50px;
}

.testimonial .item{
  width: 100%;
  background: #fff;
  border-top: 7px solid #E5745D;
  padding: 30px 40px;
  -webkit-box-shadow: 3px 4px 16px -7px rgba(235,151,134,1);
  -moz-box-shadow: 3px 4px 16px -7px rgba(235,151,134,1);
  box-shadow: 3px 4px 16px -7px rgba(235,151,134,1);
  position: relative;
  z-index: 2;
}

.testimonial .item p{
   font-family: "Jost", sans-serif;
   font-size: 16px;
   font-weight: 400;
   color: #00413D;
   width: 476px;
}

.testimonial .item .triangle{
  position: absolute;
  bottom: -32px;
  left: 35px;
  /* background: #000; */
  z-index: 1;
}

.testimonial .box{
  padding: 30px 60px 97px;
  column-gap: 30px;
  align-items: center;
  line-height: 1px;
}

.testimonial h3{
  font-family: "Vollkorn", serif;
   font-size: 20px;
   font-weight: 600;
   color: #00413D;
}

.testimonial .ptag{
  font-family: "Jost", sans-serif;
   font-size: 14px;
   font-weight: 400;
   color: #00413D;
}

.testimonial .box ul{
  display: flex;
  column-gap: 3px;
  color: #FF9F3F;
  font-size: 10px;
}

.testimonial .dots{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
}

.testimonial .dot{
  height: 8px;
  width: 8px;
  background: #D9D9D9;
  border-radius: 50%;
}

.testimonial .dot2{
  height: 11px;
  width: 11px;
  background: #E5745D;
  border-radius: 50%;
}
 /* =================================
        Testimonial Part End
 ================================= */
 /* =================================
        Contact Part Start
 ================================= */
.contact{
  padding: 113px 0 127px;
}

.contact img{
  width: 100%;
  height: 586px;
}

.contact .common-title h2{
  text-align: left;
  width: auto;
  padding: 11px 0 30px;
}

.contact .common-title{
  padding-top: 60px;
}

.contact .common-title h4{
  text-align: left;
  margin-left: 60px;
}

.contact .common-title h4::after {
  left: -57px;
}

.contact .common-title h4::before {
  left: -17px;
}

.contact .box{
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;
  padding-bottom: 50px;
}

.contact .box input{
  width: 44%;
  border: 0;
  border-bottom: 1px solid #E5ECEC;
  padding-bottom: 12px;
  outline: 0;
  font-family: "Jost", sans-serif;
   font-size: 20px;
   font-weight: 400;
   color: rgb(0, 65, 61);
}

.contact .box input::placeholder{
  font-family: "Jost", sans-serif;
   font-size: 18px;
   font-weight: 400;
   color: rgba(0, 65, 61, .7);
}

.contact .box input:last-child{
  width: 100%;
}
 /* =================================
        Contact Part End
 ================================= */
 /* =================================
        Blog Part Start
 ================================= */
 .blog h2{
  padding: 0;
 }

 .blog .card .card-body{
  padding: 25px 30px 30px;
 }
 
 .blog .card{
  margin: 40px 0 120px;
  border: 0px;
  width: 100% !important;
  -webkit-box-shadow: 5px 5px 18px -2px rgba(224,221,224,1);
  -moz-box-shadow: 5px 5px 18px -2px rgba(224,221,224,1);
  box-shadow: 5px 5px 18px -2px rgba(224,221,224,1);
  border-radius: 0 !important;
}

.blog .card .card-img-top{
  border-radius: 0;
}

.blog .box{
  justify-content: space-between;
}

.blog .card-title{
  font-family: "Jost", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #E5745D;
}

.blog .box p{
  font-family: "Jost", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #4D7A77;
}

.blog .card-text{
  font-family: "Vollkorn", serif;
  font-size: 24px;
  font-weight: 500;
  color: #00413D;
  width: 304px;
  line-height: 30px;
  margin-bottom: 5px !important;
}

.blog .card-text2{
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #4D7A77;
  width: 289px;
}

.blog .card-box{
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.blog .card-box a{
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #00413D;
  transition: .5s;
}

.blog .card-box i{
  color: #00413D;
  transition: .5s;
}

.blog .card:hover .card-box i{
  color: #E5745D;
}

.blog .card:hover .card-box a{
  color: #E5745D;
}
 /* =================================
        Blog Part End
 ================================= */
 /* =================================
        Footer Part Start
 ================================= */
 .footer{
  background: #00413D;
  padding: 90px 0 20px;
  text-align: center;
  position: relative;
 }

 .footer .textul{
  display: flex;
  padding: 60px 0 50px;
  column-gap: 27px;
  justify-content: center;
 }

 .footer .textul li{
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #FFF;
  padding-right: 33px;
  border-right: 3px solid #195450;
 }

 .footer .textul li:last-child{
  padding: 0;
  border: 0;
 }

 .footer .iconul{
  display: flex;
  justify-content: center;
  column-gap: 20px;
 }

 .footer .iconul li{
  width: 60px;
  height: 60px;
  background: #E5745D;
  border-radius: 50%;
  line-height: 70px;
 }

 .footer .iconul li i{
  color: #FFF;
  font-size: 34px;
 }

 .footer .iconul li i:last-child{
  font-size: 30px;
 }

 .footer p{
  padding-top: 150px;
  font-family: "Jost", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #A6B9B8;
 }

 .footer .line{
  height: 1px;
  width: 1500px;
  background: #195450;
  position: absolute;
  bottom: 86px;
  left: 50%;
  transform: translateX(-50%);
 }
 /* =================================
        Footer Part End
 ================================= */